.github-wrapper{
    display: grid;
    place-items: center;
    text-align: center;
}

.github-img img{
    border-radius: 50%;
    width: 50%;
    border: 7px solid rgb(0, 112, 243);
    margin-bottom: 1.5em;
}

.github-name h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(246, 248, 250);
}

.github-name h2{
    font-size: 1.5rem;
    font-weight: 500;
    color:  #c8e1ff;
    margin-bottom: 1.2em;
}

.github-lo-cr{
    display: flex;
    justify-content: center;
    gap: 2em;
    color: #c8e1ff;
    font-size: 19px;
    margin-bottom: 1.5em;
}

.location, .created{
    display: flex;
    gap: 0.3em;
}

.location p{
    margin-top: -.5px
}

.github-cards{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
    text-transform: uppercase;
}

.repository, .followers, .following{
    border: 0.2rem solid #20222e;
    padding: 1em 2em;
    background:linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
}

.repository span, .followers span, .following span{
    color: #f6f8fa;
    font-size: 30px;
}

.repository p, .followers p, .following p{
    color: #c8e1ffb3;
    font-size: 1rem;
    margin-top: 0.5em;
}

.github-repo-link a{
  font-size: 20px;
  /* color: #c8e1ff; */
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 112, 243);
  padding: 0.8em 2em;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
}

.github-repo-link a:hover{
    background-color: transparent;
    border: 1px solid rgb(0, 112, 243);
  }

@media screen and (max-width: 677px){
    .github-cards{
        display: flex;
        flex-direction: column;
    }
}
